/*
 * Geonaire.css
 * CSS voor de Geonaire start pagina
 * Gemaakt op 2016-11-24
 * Het laatst veranderd op 2016-12-16
 * door GeOdin
 */

body {
	background-color: white;
	font-family: "Georgia", "Times New Roman";
	font-size: 1em;
	text-align: center;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

h3 {
	margin: 20%;
	background: rgba(00, 00, 00, .10);
}

p {
	text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.white-space {
	margin-bottom: 1em;
}

.main {
	position: fixed;
	display: block;
	top: 0vh;
	left: 0%;
	height: 100vh;
	width: 100%;
	background-color: transparent;
}

#main {
	z-index: 0;
}

#header {
	position: absolute;
	display: block;
	top: 0vh;
	left: 0%;
	width: 100%;
	height: 17.25vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px #000000;
}

#header2 {
	position: absolute;
	display: none;
	top: 5.5vh;
	left: 0%;
	width: 100%;
	height: 11.75vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#header-title {
	position: relative;
	top: 0vh;
	left: 0%;
	width: 100%;
	height: 17.25vh;
	color: white;
	text-shadow: 1px 1px #000000;
}

#header-title-logo {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0, -50%);
	width: 17.5%;
	font-size: 2.5vh;
	overflow-y: auto;
}

#header-title-text {
	position: absolute;
	top: 50%;
	left: 17.5%;
	height: 17.25vh;
	transform: translate(0, -50%);
	width: 82.5%;
	font-size: 3.5vh;
	overflow-y: auto;
}

#overview{
	position: absolute;
	top: 17.25vh;
	left: 0%;
	width: 17.5%;
	height: 75.25vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow: auto;
}

#overview:hover {
	background: rgba(00, 00, 00, .23);
}

#tableofcontents-title {
	display: block;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 1.2em;
	background: rgba(00, 00, 00, .23);
}

.tableofcontents-item {
	display: block;
	padding: 5%;
	font-size: 1em;
	text-align: left;
	cursor: pointer;
}

.tableofcontents-item:hover {
	background: rgba(00, 00, 00, .23);
}

.tableofcontents-active {
	background: rgba(00, 00, 00, .23);
}

#tableofcontents-question1{
	display: none;
}

#tableofcontents-question2{
	display: none;
}

#tableofcontents-question3{
	display: none;
}

#tableofcontents-question4{
	display: none;
}

#tableofcontents-question5{
	display: none;
}

#tableofcontents-question6{
	display: none;
}

#tableofcontents-question7{
	display: none;
}

#tableofcontents-nextquestion{
	display: none;
}

#question-answer {
	position: absolute;
	top: 17.25vh;
	left: 17.5%;
	width: 82.5%;
	height: 75.25vh;
	z-index: 2;
	overflow-y: auto;
}

#question{
	display: block;
	margin: 1.5vh;
	z-index: 3;
	background-color: transparent;
}

#questiontitle {
	font-size: 2em;
	color: rgba(00, 00, 00, .46);
	text-shadow: 1px 1px rgba(00, 00, 00, .05);
}

#answer{
	display: block;
/*
	width: 100%;
	height: 45.25vh;
 */
	margin: 1.5vh;
	z-index: 3;
	background-color: transparent;
	color: rgba(00, 00, 00, .46);
	text-shadow: 1px 1px rgba(00, 00, 00, .05);
}

.answer-input-shorttext {
	width: 5em;
}

#map {
	display: none;
	width: 100%;
	height: 50vh;
	z-index: 4;
}

#toolbar{
	position: absolute;
	display: none;
	top: 17.25vh;
	right: 0%;
	width: 7.5%;
	height: 75.25vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 00, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
	overflow-x: hidden;
	overflow-x: auto;
}

#toolbar-title {
	display: block;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 1.2em;
	background: rgba(00, 00, 00, .23);
}

.toolbar-item{
	display: block;
	padding: 5%;
	font-size: 1em;
	text-align: left;
	cursor: pointer;
}

.toolbar-item:hover {
	background: rgba(00, 00, 00, .23);
}

.toolbar-active {
	background: rgba(00, 00, 00, .23);
}

#toolbar-marker{
/*	display: none;*/
}

#footer {
	position: absolute;
	display: block;
	top: 92.5vh;
	left: 0%;
	width: 100%;
	height: 7.5vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

#footer2 {
	position: absolute;
	display: none;
	top: 92.5vh;
	left: 0%;
	width: 95.75%;
	height: 7.5vh;
	z-index: 2;
	background-color: transparent;
	background: rgba(00, 99, 00, .23);
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px #000000;
	overflow-y: auto;
}

ul #footer-buttons {
	position: relative;
}

.footer-item {
	position: absolute;
	display: block;
	top: 50%;
	width: 20%;
	transform: translate(0, -50%);
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

.footer-item:hover {
	background: rgba(00, 99, 00, .23);
}

#button-overview {
	left: 20%;
}

#button-cartoon {
	left: 40%;
}

#button-toolbar {
	left: 60%;
}
